body {
    margin: 0;
    height: 100%;
    letter-spacing: 0.07em;
    color: #0d132d;
    font-family: EBGaramond-R, EBGaramond-I;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: grey;
}

.index header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('assets/Cicero_Denounces_Catiline_in_the_Roman_Senate.webp');
    background-size: cover;
}

header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(to bottom, #0d132d 5%, #004f9f 50%);
}

header h1 {
    margin: 0;
    text-align: center;
    font-size: 3em;
    color: white;
    text-shadow:
        -1px -1px 0 #0d132d,
        1px -1px 0 #0d132d,
        -1px 1px 0 #0d132d,
        1px 1px 0 #0d132d;
    font-weight: 600;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.navb-subc {
    display: flex;
    text-align: center;
    flex: 50%;
    justify-content: inherit;
}

.navb {
    padding: 20px;
    text-decoration: none;
    color: #f6f1eb;
    text-shadow:
        -1px -1px 0 #0d132d,
        1px -1px 0 #0d132d,
        -1px 1px 0 #0d132d,
        1px 1px 0 #0d132d;
}

.navb:hover {
    color: grey;
}

.n-b {
    color: grey;
}

.n-b:hover {
    color: white;
}

@media (max-width: 460px) {

    .navb-subc {
        flex-direction: column;
    }

}

@media (max-width: 900px) {

    header h1 {
        font-size: 2em;
    }

    .navb {
        padding: 13px;
        font-size: 0.9em;
    }

}

.index header h2 {
    margin: auto 2em;
    font-size: 1.45em;
    color: white;
    text-shadow:
        -1px -1px 0 #0d132d,
        1px -1px 0 #0d132d,
        -1px 1px 0 #0d132d,
        1px 1px 0 #0d132d;
    text-align: center;
    font-weight: 500;
}

header h2 {
    margin: 0 2em;
    font-size: 3.5em;
    color: white;
    text-shadow:
        -1px -1px 0 #0d132d,
        1px -1px 0 #0d132d,
        -1px 1px 0 #0d132d,
        1px 1px 0 #0d132d;
    text-align: center;
    font-weight: 500;
}

@media (max-width: 900px) {

    .index header h2 {
        margin: auto 1em;
        font-size: 1em;
    }

    header h2 { 
        margin: auto 1em;
        font-size: 1.5em;
    }

    .index .height {
        height: 7em;
    }

}

.scroll-indicator {
    width: 90%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    text-align: center;
    color: white;
    text-shadow:
        -1px -1px 0 #0d132d,
        1px -1px 0 #0d132d,
        -1px 1px 0 #0d132d,
        1px 1px 0 #0d132d;
    left: 50%;
    transform: translateX(-50%);
}

.scroll-indicator::after {
    content: "|";
    font-size: 2em;
    margin-top: 5px;
}

.index #box-I {
    background-color: #ebe9e7;
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    margin: auto 5em;
    max-width: 40em;
}

h2 {
    font-size: 2em;
    font-weight: 600;
}

p {
    font-size: 1.2em;
}

@media (max-width: 800px) {

    .index #box-I {
        height: auto;
    }
}

@media (min-width: 840px) {

    .index #box-I {
        flex-direction: row;
    }

}

@media (max-width: 900px) {

    .index #box-I .container {
        margin: 0 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }

}

.index #box-II {
    background-color: #f4e9e0;
    width: 100%;
    height: 100vh;
    background-image: url(assets/Columns.webp);
    background-size: cover;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.index #box-II .p-i {
    font-size: 2.5em;
    font-weight: 500;
    color: white;
    text-shadow:
        -1px -1px 0 #0d132d,
        1px -1px 0 #0d132d,
        -1px 1px 0 #0d132d,
        1px 1px 0 #0d132d;
}

.index #box-II .p-i a {
    font-size: 0.8em;
    font-weight: 700;
    color: white;
    text-shadow:
        -1px -1px 0 #0d132d,
        1px -1px 0 #0d132d,
        -1px 1px 0 #0d132d,
        1px 1px 0 #0d132d;
}

.index #box-II .p-i a:hover {
    color: #0d132d;
    text-shadow: none;
}

.index #box-II .p-ii {
    margin-bottom: 0;
    font-size: 2.3em;
    font-weight: 500;
    color: white;
    text-shadow:
        -1px -1px 0 #0d132d,
        1px -1px 0 #0d132d,
        -1px 1px 0 #0d132d,
        1px 1px 0 #0d132d;
}

.index #box-II .p-iii {
    margin-top: 0;
    font-size: 2.7em;
    font-weight: 600;
    color: white;
    text-shadow:
        -1px -1px 0 #0d132d,
        1px -1px 0 #0d132d,
        -1px 1px 0 #0d132d,
        1px 1px 0 #0d132d;
}

@media (max-width: 900px) {

    .index #box-II .p-i {
        margin: 0 10px;
        font-size: 1.5em;
    }

    .index #box-II .p-ii {
        margin: 0 10px;
        font-size: 1.5em;
    }

    .index #box-II .p-iii {
        margin: 0 10px;
        font-size: 1.7em;
    }

}

footer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

footer .container {
    margin: 0;
    max-width: inherit;
    display: flex;
    justify-content: center;
    text-align: center;
}

footer .sub-container {
    margin: 0 auto;
}

footer .sub-container span{
    font-weight: 600;
}

footer a {
    margin: auto;
    color: #0d132d;
}

footer img {
    margin: 0;
    width: 10em;
}

footer h2 {
    margin: 0;
}

footer p {
    font-weight: 500;
}

footer .bottom {
    width: 100%;
    position:relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #40404050; 
    text-align: center;
    font-size: 1.3em;
}

footer .bottom span {
    margin: auto 1em;
}

@media (max-width: 900px) {

    footer .container {
        margin: auto 2em;
        flex-direction: column;
    }

    footer .sub-container {
        margin: auto 1em;
        height: auto;
        font-size: 0.8em;
    }

    footer img {
        width: 7em;
    }

    footer .bottom {
        font-size: 0.8em;
    }

}

/*PROFILI*/

.p #box-I {
    background-color: #ebe9e7;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.p #box-I p {
    margin: auto;
}

@media (min-width: 840px) {

    .p #box-I {
        flex-direction: row;
    }

}

@media (max-width: 900px) {

    .p .container {
        margin: 0 2em;
    }

}

.p #box-II {
    background-color: #cfc5c7;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.p img {
    margin: 2em auto;
    height: 30em;
    border-radius: 4em;
}

@media (max-width: 840px) {

    .p #box-II {
        height: auto;
    }
}

@media (min-width: 840px) {

    .p #box-II {
        flex-direction: row;
    }

}

@media (max-width: 900px) {

    .p img {
        height: 17em;
    }

}

.p #box-III {
    background-color: #d3bdb5;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    text-align: center;
}

@media (max-width: 800px) {

    .p #box-III {
        height: auto;
    }
}

@media (min-width: 840px) {

    .p #box-III {
        flex-direction: row;
    }

}

/*MATERIE*/

.m #box-I-i {
    background-color: #ebe9e7;
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.m p {
    font-size: 1.3em;
}

.m #box-I-ii {
    background-color: #ebe9e7;
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.m #box-I-iii {
    background-color: #ebe9e7;
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.m .container {
    margin: 0;
    max-width: 70em;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.m .sub-container {
    margin: auto 2em;
}

.m a {
    color: #0d132d;
}

.m a:hover {
    color: grey;
}

.m li {
    font-size: 1.3em;
}

@media (max-width: 900px) {

    .m h1 {
        font-size: 1.5em;
    }

    .m p {
        font-size: 1em;
    }

    .m li {
        font-size: 1em;
    }

}

.m #box-II-i {
    background-color: #cfc5c7;
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.m #box-II-ii {
    background-color: #cfc5c7;
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.m #box-II-iii {
    background-color: #cfc5c7;
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.m #box-III-i {
    background-color: #d3bdb5;
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.m #box-III-ii {
    background-color: #d3bdb5;
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.m #box-III-iii {
    background-color: #d3bdb5;
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/*CONTATTI*/

.c #box-I {
    background-color: #ebe9e7;
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.c #box-I h2 {
    font-size: 1.5em;
}

.c #box-I p {
    font-weight: 500;
    font-size: 1.3em;
}

.c #box-I a {
    font-weight: 600;
    color: #0d132d;
}

.c #box-I a:hover {
    color: grey;
}

@media (max-width: 1180px) {

    .c #box-I {
        height: auto;
    }

}

@media (max-width: 900px) {

    .c #box-I h2 {
        margin: auto 1em;
        font-size: 1.3em;
    }

    .c #box-I p {
        font-size: 1.1em;
    }

}

.c #box-II {
    background-color: #cfc5c7;
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.c #box-II .container {
    margin: auto;
    max-width: none;
    display: flex;
    text-align: center;
    justify-content: center;
}

.c #box-II .sub-container {
    margin: auto 7em;
}

.c #box-II .h2-i {
    font-size: 2.2em;
    font-weight: 500;
}

.c #box-II .h2-ii {
    font-size: 2.3em;
    font-weight: 600;
}

@media (max-width: 900px) {

    .c #box-II .container {
        flex-direction: column;
    }

    .c #box-II .sub-container {
        margin: auto 10px;
    }

    .c #box-II .h2-i {
        font-size: 1.3em;
    }

    .c #box-II .h2-ii {
        font-size: 1.3em;
    }

}